body
{
	--custom-green: #69c812;
	--custom-red: #f14672;

	margin: 0px;
	justify-content: center;

	font-family: arial;
}

header
{
	background-color: var(--custom-red);
	font-family: inherit;
	height: 15vh;
	display: none;
	justify-content: center;
}
