body
{
	--custom-green: #69c812;
	--custom-red: #f14672;

	margin: 0px;
	display: flex;
	justify-content: center;

	font-family: arial;
}

header
{
	background-color: var(--custom-green);
}
