body
{
	--custom-green: #69c812;
	--custom-red: #f14672;

	margin: 0px;
	margin-top: 15vh;
	justify-content: center;

	font-family: "Open Sans", arial;
}

header
{
	position: fixed;
	background-color: var(--custom-red);
	font-family: inherit;
	width: 100vw;
	height: 15vh;
	display: flex;
	justify-content: center;
	
	margin-top: -15vh;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
