body
{
    margin-top: 5vh;
}

p.paragraph
{
    border-bottom: 3px solid var(--custom-green);

    width: 60vw;
}

a.title
{
    all: initial;
    margin: 0px;
    font-family: arial;
    font-size: 1.7em;
    cursor: pointer;
}

article
{
    border-bottom: 3px solid var(--custom-red);

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
